*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background: rgb(19, 19, 19);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.wrapper {
    width: 100%;
    display: inline-block;
    position: relative;

}
.wrapper:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

iframe{
    width: 100%;
    height: 100%;
}

.description{
    text-align: right;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2em;
    background-color: black;
    text-align: center;
    width: 100%;
}

.fb-like{
    padding-top: 0.4em;
}

p{
    color: rgb(242, 242, 242);
}

a {
    color: rgb(146, 148, 160);
}

hr{
    max-width: 200px;
    text-align: left;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}